@import 'fonts';
@import 'reset';
@import 'parts';
@import 'header';

body    {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: $primary;
    background-color: $light-bg;
}

.title-decor {
    position: relative;
    display: inline-block;
    
    &:before {
        position: absolute;
        top: 0;
        left: -18px;
        content: '';
        width: 314px;
        height: 82px;
        background: url("data:image/svg+xml,%3Csvg width='314' height='76' viewBox='0 0 314 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M313.5 38C313.5 42.9528 309.338 47.8228 301.414 52.3573C293.528 56.87 282.083 60.9507 267.898 64.3841C239.535 71.249 200.327 75.5 157 75.5C113.673 75.5 74.4646 71.249 46.1019 64.3841C31.9166 60.9507 20.4721 56.87 12.5862 52.3573C4.66197 47.8228 0.5 42.9528 0.5 38C0.5 33.0472 4.66197 28.1772 12.5862 23.6427C20.4721 19.13 31.9166 15.0493 46.1019 11.6159C74.4646 4.75104 113.673 0.5 157 0.5C200.327 0.5 239.535 4.75104 267.898 11.6159C282.083 15.0493 293.528 19.13 301.414 23.6427C309.338 28.1772 313.5 33.0472 313.5 38Z' stroke='%23F25822'/%3E%3C/svg%3E%0A") no-repeat center;
    }
}

.btn-play {
    position: relative;
    padding-left: 54px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:before {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        content: '';
        width: 30px;
        height: 30px;
        border: 3px solid $cream-bg;
        border-radius: 50%;
        background: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 4.26795C9.83333 5.03775 9.83333 6.96225 8.5 7.73205L3.25 10.7631C1.91666 11.5329 0.249999 10.5707 0.25 9.03109L0.25 2.96891C0.25 1.42931 1.91667 0.46706 3.25 1.23686L8.5 4.26795Z' fill='%23F25822'/%3E%3C/svg%3E%0A") no-repeat center;
    }

    &__text {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.172;
        color: $grey;
    }
}

.hero {
    padding-bottom: 0;

    &__content {
        position: relative;
        max-width: 525px;
        
        &:before {
            position: absolute;
            top: 32px;
            left: -104px;
            content: '';
            width: 60px;
            height: 60px;
            background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.61611 10.557C7.47436 3.62198 14.6027 -0.493596 21.5378 1.36465L37.4045 5.61611C44.3395 7.47436 48.4551 14.6027 46.5969 21.5378L42.3454 37.4045C40.4872 44.3395 33.3588 48.4551 26.4237 46.5969L10.557 42.3454C3.62198 40.4872 -0.493597 33.3588 1.36465 26.4237L5.61611 10.557Z' fill='%23F25822' fill-opacity='0.46'/%3E%3C/svg%3E%0A") no-repeat center;
        }

        &:after {
            position: absolute;
            bottom: 58px;
            right: -68px;
            content: '';
            width: 60px;
            height: 60px;
            background: url("data:image/svg+xml,%3Csvg width='53' height='53' viewBox='0 0 53 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.48296 7.75898C10.6304 3.02452 15.5822 0.211275 20.7486 0.790596L38.4676 2.7775C43.6339 3.35682 47.8397 7.19693 48.8852 12.2894L52.471 29.7552C53.5165 34.8477 51.164 40.0343 46.6439 42.6023L31.141 51.4098C26.6208 53.9779 20.9611 53.3432 17.122 49.8378L3.95486 37.8154C0.115725 34.31 -1.02964 28.7313 1.11782 23.9968L8.48296 7.75898Z' fill='%23149211' fill-opacity='0.3'/%3E%3C/svg%3E%0A") no-repeat center;
        }
    }

    &__btn-video {
        margin-right: 14px;
    }

    &__image {
        position: relative;
        width: 100%;
        max-width: 860px;
        margin-right: 64px;
    
        &:before {
            position: absolute;
            top: 56px;
            left: 0;
            content: '';
            width: 50px;
            height: 50px;
            background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25V40C50 45.5228 45.5228 50 40 50H25C11.1929 50 0 38.8071 0 25Z' fill='%23F25822' fill-opacity='0.46'/%3E%3C/svg%3E%0A") no-repeat center;
        }
    }
}

.services__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -29px;
}

.solutions {
    padding: 63px 0;
}

.solutions {
    position: relative;

    &__content {
        position: relative;
        z-index: 1;
        max-width: 515px;
    }

    &__title {
        max-width: 425px;
    }

    &__image {
        position: relative;
        z-index: 1;
        margin-bottom: -107px;
    }

    &:before {
        position: absolute;
        top: 11%;
        left: 0;
        content: '';
        width: 100%;
        height: 300px;
        background: url("data:image/svg+xml,%3Csvg width='1920' height='542' viewBox='0 0 1920 542' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-85.1946 296.04C48.8309 137.626 506.52 -201.597 956.521 167.115C1446.4 568.503 1610.89 -60.8834 2086.71 58.1298C2348.44 123.596 2398.14 460.646 2802.9 540.87' stroke='%23F0F0F0' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat;
    }

    &:after {
        position: absolute;
        top: -8%;
        left: 0;
        content: '';
        width: 100%;
        height: 450px;
        background: url("data:image/svg+xml,%3Csvg width='1920' height='516' viewBox='0 0 1920 516' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-79.391 40.4581C63.7083 237.499 569.677 674.067 1127.34 280.764C1734.43 -147.394 1872.77 603.914 2439.21 505.299C2750.8 451.053 2837.78 60.5223 3317.83 1.24991' stroke='%23F0F0F0' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat;
    }
}