// colors

$primary: #666;
$secondary: #000;
$grey: #aaa;
$grey-dark: #888;
$light: #fff;
$warning: #f25822;
$warning-light: #f3602d;

$warning-bg: #f25822;
$warning-bg-light: rgba(242, 88, 34, 0.25);
$yellow-bg: #fff3c9;
$green-bg: #bde0bc;
$orange-bg: #fcd5c8;
$cream-bg: #ddd;
$cream-bg-light: #eee;
$light-bg: #fff;
$lighter-bg: #fafafa;

// media queries

$Large-l: 1600px;
$Large: 1366px;
$Large-s: 1200px;
$Medium-l: 1024px;
$Medium-m: 992px;
$Medium: 900px;
$Medium-s: 768px;
$Small-l: 600px;
$Small: 480px;
$Small-s: 414px;
$Small-xs: 360px;